.Divider {
  width: 100%;

  &__container {
    height: 20px;
    text-align: center;
    margin: 10px 0 24px;
    /* color */
    color: #149c6a;
    border-bottom: 2px #149c6a solid;
  }

  &__title {
    background: white;
    font-size: 30px;
    padding: 10px;
  }

}