.CharacterDetail {
  max-width: 100%;
  padding: 10px 10px;
  overflow-x: hidden;

  button {
    background-color: #f1efef;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    justify-content: center;
    padding: 8px 4px;
    width: 100px;
  }

  button:hover {
    background-color: #149c6a;
  }
  
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 800px) {
    &__container {
      display: block;
    }
  }

  &__section {
    margin-right: 40px;
    font-size: large;
    padding-bottom: 20px;

    &__value {
      padding-left: 10px;
      font-weight: bolder;
    }

    img {
      height: 300px;
      width: auto;
    }

    @media only screen and (max-width: 800px) {
      img {
        width: 50%;
        margin: auto;
        display: block;
        height: auto;
      }
    }
  }
}
